@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  font-family: Poppins,Yesteryear;
  line-height: 1.5;
  font-weight: 500;
} 

a {
  font-weight: 500;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 380px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #C53678;
  }
  button {
    background-color: #ffffff;
  }
}
